.studentDeatil{
padding: 20px;
font-size: 22px;
font-family: roboto;
}
#profiledetail{
	margin-left: 50px;
}
.studentDeatilTitle{
	font-size: 18px;
}
#editStudentProfilePixLink{
	margin-left: 20px;
}
#studentResultDetail{
	width:700px;
	 font-size: 16px;
	 font-family: 'Times new roman';
	 margin-bottom: 10px;
	 margin-left: -10px;
}
.progresReport{
	margin-top: 10px;
	 font-family: 'Times new roman';
	 font-size: 20px;
	 margin-left: -20px;

}
.schoolName{
	text-align: center;
	 font-family: 'Times new roman';
}
.pobox,.schollPhones,.schoolEmails{
	text-align: center;
	 font-family: roboto;
	 font-size: 16px;

}
.theResult{
	
	/*background: blue;*/
	padding: 10px 50px 10px 50px;
margin-top: 20px; 
}
.letterHeading{
	padding: 30px;
	margin-left: -10px;
}
#reportTable{
font-family: 'roboto';
text-align: center;
margin-left: -10px;
border: 1;
 width:600px;

}
#stdResultImage{
width: 70px; 
height: 70px; 
border-radius: 100%;
margin-left: 160px;

}
.studentResultDetailContainer{
border: 1px solid #000000;
padding: 10px 30px 10px 30px;
margin-left: 100px;
margin-right: 100px;
width: 650px;
}
.paymentHistoryContainer{
	border: 1px solid black;
padding: 10px 100px 10px 100px;
background-color: #737475;
color: #737475;
font-size: 20px;

}
  input[type=checkbox] {
	width: 150px;
	height: 20px;
	margin-left: -55px;
	margin-right:-55px;
  }
#receiptContainer{
  background: white; 
  border: 1px solid #000000; 
  background-color: #edf0f2; 
  border-radius: 5px;
}
.testFlex {
 
  display: flex;
  flex-wrap: wrap;
}

.testFlex >div {
  flex-grow: 1;
  width: 33%;
  height: 100px;
}

.testFlex >div:nth-child(even) {
  }

.testFlex >div:nth-child(odd) {
  background: #ffffff;
}
#studentProfileImage{
	width: 100px; 
	height: 100px; 
	border-radius: 100%;
	margin-left: 100px;
}
#updateStudentProfileBtn{
	text-align: center;
	margin-left: 130px;

}
#updateStudentPixBtn{
	margin-left: 50px;
}
  @media only screen and (max-width: 800px) {
  .letterHeading{
	padding: 5px;
	margin-left: 30px;
	
}  
.pobox,.schollPhones,.schoolEmails{
	text-align: center;
	 font-family: roboto;
	 font-size: 12px;
	 margin-left: -30px;

}
.schoolName{
	text-align: center;
	 font-family: 'Times new roman';\
	 font-size: 16px;
	 margin-left: -20px;

}
  	.theResult{
	/*background: blue;*/
	padding: 10px 50px 10px 10px;
margin-top: 20px; 
}
  	.paymentHistoryContainer{
	border: 1px solid black;
padding: 10px 10px 10px 5px;
background-color: #737475;
color: #737475;
font-size: 20px;

}
.studentResultDetailContainer{
border: 1px solid #000000;
padding: 10px 10px 10px 25px;
margin-left: 5px;
margin-right: 10px;
width: 390px;
}

  	.schoolName{
	/*text-align: center;*/
	 font-family: 'Times new roman';
	 font-size: 16px;
}
  	#reportTable{
font-family: 'roboto';
text-align: left;
margin-left: -23px;
margin-right:5px;
border: 1;
 width:300px;
 font-size: 12px;

}

#stdResultImage{
width: 50px; 
height: 50px; 
border-radius: 100%;
margin-left: 50px;

}
#studentResultDetail{
	width:400px;
	 font-size: 16px;
	 font-family: 'Times new roman';
	 margin-bottom: 10px;
	 margin-left: -10px;

}
.progresReport{
	margin-top: 10px;
	 font-family: 'Times new roman';
	 font-size: 20px;
	 margin-left: -5px;
	 text-align: center;

  }
  #receiptContainer{
  background: white; 
  border: 1px solid #000000; 
  background-color: #edf0f2; 
  border-radius: 5px;
  font-size: 12px;
}
#cashNo{
	font-size: 12px;
	font-family: serif;
}

  input[type=checkbox] {
	width: 30px;
	height: 10px;
	margin-left: -9px;
	margin-right:-9px;
  }
  #resultFooter{
  	margin-top: 10px;
  	font-size: 12px;
  	margin-left: -20px;
  	padding: 5px;
  	width: 400px;
  }
  #studentProfileImage{
	width: 100px; 
	height: 100px; 
	border-radius: 100%;
	margin-left: 15px;
}
#updateStudentProfileBtn{
	text-align: center;
	margin-left: 0px;

}
#updateStudentPixBtn{
	margin-left: 0px;
}
#profiledetail{
	margin-left: 20px;
}
#searchskill{
	margin-left: -2px;
}
}