.studentDeatil{
color:gray;
padding: 20px;
}

.studentDeatilTitle{
	font-size: 18px;
}
#editStudentProfilePixLink{
	margin-left: 20px;
}
#studentResultDetail{
	width:700px;
	 font-size: 16px;
	 font-family: 'Times new roman';
	 margin-bottom: 10px;
	 margin-left: -10px;
}
.progresReport{
	margin-top: 10px;
	 font-family: 'Times new roman';
	 font-size: 20px;
	 margin-left: -20px;

}
.schoolName{
	text-align: center;
	 font-family: 'Times new roman';
}
.pobox,.schollPhones,.schoolEmails{
	text-align: center;
	 font-family: roboto;
	 font-size: 16px;

}
.theResult{
	
	/*background: blue;*/
	padding: 10px 50px 10px 50px;
margin-top: 20px; 
}
.letterHeading{
	padding: 30px;
	margin-left: -10px;
}
#reportTable{
font-family: 'roboto';
text-align: center;
margin-left: -10px;
border: 1;
 width:600px;

}
#stdResultImage{
width: 70px; 
height: 70px; 
border-radius: 100%;
margin-left: 160px;

}
.studentResultDetailContainer{
border: 1px solid #000000;
padding: 10px 30px 10px 30px;
margin-left: 100px;
margin-right: 100px;
width: 650px;
}
/*http://www.position-absolute.com/creation/print/jQuery.printPage.js